@charset "UTF-8";

:root {
    --cor0: #F21B6A;
    --cor1: #8B2A8C;
    --cor2: #2BA8D9;
    --cor3: #8CBF3F;
    --cor4: #F28322;
    
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'bebas neue';
    --font-android: 'Android'; 
}

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
}